<div style="text-align: center;">
    <p style="font-family: Sans-serif; font-size: 240px; color: #5d5c5c"><strong>API</strong></p>
    <p style="font-family: Sans-serif; font-size: 70px; color: #5d5c5c; margin-top: -290px;"><strong>MongoStack</strong></p>
</div>