/* You can add global styles to this file, and also import other style files */
.space {
    padding-top: 15px;
    padding-bottom: 5px;
}

.cli {
    cursor:pointer;
}


@media screen and (max-width: 600px) {
    th,td{
      font-size: 12px;
    }
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important; 
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

