/* You can add global styles to this file, and also import other style files */
.space {
    padding-top: 15px;
    padding-bottom: 5px;
}

.cli {
    cursor:pointer;
}


@media screen and (max-width: 600px) {
    th,td{
      font-size: 12px;
    }
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important; 
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

.modalWindow {
    width: 30%;
    position:absolute;
    background: white;
    top: 50%;
    left: 40%;
  /* //  width:10em;
    height:10em; */
    margin-top: -5em; /*set to a negative number 1/2 of your height*/
    margin-left: -5em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    border:  2px solid black;
    z-index:100; 
}

