<h1>Product</h1>
<span *ngIf="currentUser.Admin"><a href="create-product"><i class="far fa-plus-square space" ></i>Add new</a></span>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th *ngIf="currentUser.Admin" scope="col">Edit</th>
        <th *ngIf="currentUser.Admin" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td scope="row">{{i+1}}</td>
        <td scope="row">{{product.Name}}</td>
        <td scope="row">{{product.Brand}}</td>
        <td scope="row">{{product.Price}}</td>
        <td *ngIf="currentUser.Admin" scope="row"><i class="far fa-edit cli" (click)="openEdit(product.Id)"></i></td>
        <td *ngIf="currentUser.Admin" scope="row"><i class="far fa-trash-alt cli" (click)="openModal('custom-modal-1', product.Id)"></i></td>
      </tr>
    </tbody>
  </table>


  <modal id="custom-modal-1">

          <div class="modalWindow">
              <h1>Delete product?</h1>
              <p>
                  Are you sure you want to delete this product?
              </p>
              <button (click)="delete('custom-modal-1')">Yes</button>
              <span><a href="product"><i class="far fa-plus-square space" ></i>Close</a></span>
          </div>
  </modal>

<!-- 
  <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>Delete product?</h1>
            <p>
                Are you sure you want to delete this product? />
            </p>
            <button (click)="delete('custom-modal-1')">Yes</button>
            <button (click)="closeModal('custom-modal-1');">No</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->